var scoutname 
var temnumber
var matchnumber
var alliance

var autoamppoints *2
var autospeakerpoints  *5
var autoleftzone *2
var teleamppoints
var telespeakerpoints *2

var telespeakeramplifiedpoints *5
var telepasses 

var drops

var climbed *3
var parked 

var harmony *2
var trap *5
var numtraps *5

var offeredcoop
var didcoop

var ampmike
var sourcemike
var centermike

var extranotes

